body{
    background-color: #01011c;
}

.intro-title{
    text-align: center;
}

.destinations-section {
    display: block;
    max-width: 75%;
    margin: auto;
    
}

.destination-row {
    display: flex;
    justify-content: space-between;
    border: 3px solid #ddd;
    -webkit-box-shadow: 7px 10px 14px 5px rgba(255,255,255,1);
    -moz-box-shadow: 7px 10px 14px 5px rgba(255,255,255,1);
    box-shadow: 7px 10px 14px 5px rgba(255,255,255,1);
    margin-bottom: 4rem;
    padding-left: 3rem;
    padding-top: 3rem;
    padding-right: 3rem;
    border-radius: 8px;
    background-color: white;
}

.tittle{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #3f112e;
    text-shadow: 0 0 0.1rem #3f112e;
}

p{
    margin: auto;
    max-width: 90%;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 1.3rem;
    color: #262340;
    line-height: 1.6;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

strong {
    color: #3f112e;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.destination-info-left {
    flex: 1;
    width: 80%;
    box-sizing: border-box;
}

.destination-info-left h2 {
    margin-bottom: 10px;
}

.destination-info-left p {
    text-align: justify;
}

.button-nues {
    text-align: center;
    margin-top: 10px;
}







.carousel-container {
    overflow: hidden;
    display: flex;
    align-items: center;
    max-width: 30%;
    margin-left: 3rem;
}

.slideshow-container {
    position: relative;
    width: 100%;
    max-width: 100%;
}

.mySlides {
    display: none;
}

.slideshow-image {
    width: 100%;
    height: auto;
}

